{% load i18n admin_static %}<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE|default:"en-us" }}">
<head>
<title>{% block title %}{% endblock %}</title>
<link rel="stylesheet" type="text/css" href="{% block stylesheet %}{% static "fichas/css/siimple.css" %}{% endblock %}" />
<link rel="stylesheet" type="text/css" href="{% static "fichas/css/style.css" %}" />
{% block extrastyle %}{% endblock %}
{% block extrahead %}{% endblock %}
{% block blockbots %}<meta name="robots" content="NONE,NOARCHIVE" />{% endblock %}
<!-- Place this tag in your head or just before your close body tag. -->
<script async defer src="https://buttons.github.io/buttons.js"></script>
</head>
{% load i18n %}
<body>
<!-- Place this tag in your head or just before your close body tag. -->
<script async defer src="https://buttons.github.io/buttons.js"></script>
  <div class="navbar">
    <a class="navbar-logo" href="{% url 'index' %}">Delma</a>
    {% if user.is_authenticated %}
    <div class="navbar-user">Bienvenido {% firstof user.get_short_name user.get_username %}</div>
        {% if user.is_active and user.is_staff %}
        <a class="navbar-link" href="{% url 'account_login' %}">Administrar</a>
        {% endif %}
        {% if user.has_usable_password %}
        <a class="navbar-link" href="{% url 'admin:password_change' %}">Cambiar contraseña</a> 
        {% endif %}
    <a class="navbar-link" href="{% url 'seguridad:logout' %}">Cerrar sesión</a>
    {% else %}
    <a class="navbar-link" href="{% url 'seguridad:login' %}">Inciar sesión</a>
    {% endif %}
  </div>
    <!-- END Header -->
    {% block breadcrumbs %}
    {{ breadcrumbs }}
    {% endblock %}
    {% block messages %}
        {% if messages %}
        <ul class="messagelist">{% for message in messages %}
          <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message|capfirst }}</li>
        {% endfor %}</ul>
        {% endif %}
    {% endblock messages %}
</div>
    <!-- Content -->
        {% block content %}
        {{ content }}
        {% endblock %}
    <!-- END Content -->

    {% block footer %}
    <div class="foot">
       <a class="foot-logo" href="{% url 'index' %}">Delma</a>
           Aplicación hecha con <span class="heart"></span> por
       <a href="https://github.com/reciproco/delma">Javier Segura</a>
       usando <a href="https://www.djangoproject.com/">Django</a>
    </div>
    {% endblock %}
<!-- END Container -->
</body>
</html>
