{% extends "fichas/base.html" %}
{% block breadcrumbs %}
    <div class="breadcrumbs">
    <a href="{% url 'index' %}">Inicio</a> &rsaquo; <a href="{% url 'fichas:search' %}">Buscar</a> &rsaquo; <a href="{% url 'fichas:ficha-list' %}">Lista de fichas</a>
    &rsaquo; <a href="{% url 'fichas:ficha-detail' 1 %}">Detalle</a>
    </div>
{% endblock %}
{% block content %}

    <div id="card">
      <div class="grid grid-fluid">
        <div class="row">
          <div class="col-8" class="card-paciente">{{ object.paciente }}</div>
          <div class="col-4">{{ object.lesion }}</div>
        </div>
        <div class="row">
          <ul>
            <li>Cuando: {{ object.cuando }}</li>
            <li>Como: {{ object.como }}</li>
            <li>Tratamiento: {{ object.tratamiento_ee|yesno:"EE," }} {{ object.tratamiento_IR|yesno:"IR," }} {{ object.tratamiento_tm|yesno:"TM," }} {{ object.tratamiento_us|yesno:"US," }} {{ object.tratamiento_l|yesno:"L," }} {{ object.tratamiento_MG|yesno:"MG," }} {{ object.tratamiento_cines|yesno:"CINES," }} {{ object.tratamiento_synm|yesno:"SYNM," }} {{ object.tratamiento_tc|yesno:"TC," }} {{ object.tratamiento_PS|yesno:"PS," }} {{ object.tratamiento_epte|yesno:"EPTE,  " }} </li>
            <li>Observaciones: {{ object.observaciones }}</li>
            <li>Terapeuta: {{ object.get_terapeuta_display }}</li>
            <li>Dolor: {{ object.dolor }}</li>
          {% for i in object.adjunto_set.all %}
          <li>Adjunto: <a href="{{ i.fichero.url }}">{{i.nombre}}</a></li>
          {% endfor %}
          </ul>
        </div>
      </div>
    </div>
{% endblock %}
