{% extends "fichas/base.html" %}
{% block breadcrumbs %}
    <div class="breadcrumbs">
    <a href="{% url 'index' %}">Inicio</a> &rsaquo; <a href="{% url 'fichas:search' %}">Buscar</a> &rsaquo; <a href="{% url 'fichas:ficha-list' %}">Lista de fichas</a>
    &rsaquo; <a href="{% url 'fichas:ficha-detail' object.id %}">{{object.paciente}} ({{ object.cuando }})</a>
    </div>
{% endblock %}
{% block content %}

    <div id="card">
      <div class="grid grid-fluid">
        <div class="row">
          <div class="col-6" class="card-paciente"><strong>PACIENTE: </strong>{{ object.paciente }}</div>
          <div class="col-3"></div>
          <div class="col-3"><strong>EDAD: </strong>{{ object.paciente.edad }}</div>
        </div>
        <div class="row">
          <div class="col-12" class="card-paciente"><strong>LESIÓN: </strong>{{ object.lesion }}</div>
        </div>
        <div class="row">
          <div class="col-4" class="card-paciente"><strong>CUÁNDO: </strong>{{ object.cuando }}</div>
          <div class="col-8"><strong>CÓMO: </strong>{{ object.como }}</div>
        </div>
        <div class="row">
          <div class="col-2" class="card-paciente"><strong>MOV: </strong>{{ object.mov }}</div>
          <div class="col-2" class="card-paciente"><strong>PRO/SUP: </strong>{{ object.prosup }}</div>
          <div class="col-2" class="card-paciente"><strong>FLEX: </strong>{{ object.flex }}</div>
          <div class="col-2" class="card-paciente"><strong>EXT: </strong>{{ object.ext }}</div>
          <div class="col-2" class="card-paciente"><strong>ROT: </strong>{{ object.rot }}</div>
          <div class="col-2" class="card-paciente"><strong>TM: </strong>{{ object.tm }}</div>
        </div>
        <div class="col-12">
         <strong>TRATAMIENTO:</strong>
         {% if object.tratamiento_ee %}
         <label style="color:green;">EE</label>
         {% else %}
         <label style="color:#C0C0C0;">EE</label>
         {% endif %}
         {% if object.tratamiento_ir %}
         <label style="color:green;">IR</label>
         {% else %}
         <label style="color:#C0C0C0;">IR</label>
         {% endif %}
         {% if object.tratamiento_tm %}
         <label style="color:green;">TM</label>
         {% else %}
         <label style="color:#C0C0C0;">TM</label>
         {% endif %}
         {% if object.tratamiento_us %}
         <label style="color:green;">US</label>
         {% else %}
         <label style="color:#C0C0C0;">US</label>
         {% endif %}
         {% if object.tratamiento_l %}
         <label style="color:green;">L</label>
         {% else %}
         <label style="color:#C0C0C0;">L</label>
         {% endif %}
         {% if object.tratamiento_mg %}
         <label style="color:green;">MG</label>
         {% else %}
         <label style="color:#C0C0C0;">MG</label>
         {% endif %}
         {% if object.tratamiento_cines %}
         <label style="color:green;">CINES</label>
         {% else %}
         <label style="color:#C0C0C0;">CINES</label>
         {% endif %}
         {% if object.tratamiento_synm %}
         <label style="color:green;">SYNM</label>
         {% else %}
         <label style="color:#C0C0C0;">SYNM</label>
         {% endif %}
         {% if object.tratamiento_tc %}
         <label style="color:green;">TC</label>
         {% else %}
         <label style="color:#C0C0C0;">TC</label>
         {% endif %}
         {% if object.tratamiento_ps %}
         <label style="color:green;">PS</label>
         {% else %}
         <label style="color:#C0C0C0;">PS</label>
         {% endif %}
         {% if object.tratamiento_epte %}
         <label style="color:green;">EPTE</label>
         {% else %}
         <label style="color:#C0C0C0;">EPTE</label>
         {% endif %}
        </div>
       </div>
       <div class="row">
         <div class="col-4" class="card-paciente"><strong>TERAPEUTA: </strong>{{ object.terapeuta }}</div>
         <div class="col-4" class="card-paciente"><strong>RTE: </strong>{{ object.rte }}</div>
         <div class="col-4" class="card-paciente"><strong>EMG: </strong>{{ object.emg }}</div>
       </div>
       <div class="row">
         <div class="col-2" class="card-paciente"><strong>PC: </strong>{{ object.pc }}</div>
         <div class="col-3" class="card-paciente"><strong>DR: </strong>{{ object.dr }}</div>
         <div class="col-7" class="card-paciente"><strong>DOLOR: </strong>{{ object.dolor }}</div>
       </div>
        <div class="row">
          <div class="col-12" class="card-paciente"><strong>OBSERVACIONES: </strong>{{ object.observaciones }}</div>
        </div>
        <div class="row">
          <div class="col-12" class="card-paciente"><strong>SESIONES: </strong>{{ object.sesiones }}</div>
        </div>
        <div class="row">
          <div class="col-12">
            <strong>FICHEROS:</strong>
            {% for i in object.adjunto_set.all %}
                <a href="{{ i.fichero.url }}">"{{i.nombre}}"</a>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
{% endblock %}
