{% extends "fichas/base.html" %}

{% block breadcrumbs %}
    <div class="breadcrumbs">
    <a href="{% url 'index' %}">Inicio</a> &rsaquo; <a href="{% url 'fichas:search' %}">Buscar</a> &rsaquo; <a href="{% url 'fichas:ficha-list' %}">Lista de fichas</a>
    </div>
{% endblock %}
{% block content %}
    <h2>Listado</h2>
        <table class="table table-striped">
          <thead>
            <tr>
              <td>Ficha</td><td>Fecha</td>
            </tr>
          </thead>
        {% for ficha in object_list %}
        <tr>
            <td><a href="{% url 'fichas:ficha-detail' pk=ficha.id %}">{{ ficha.paciente }}</a></td>
            <td>{{ ficha.cuando }}</td>
        </tr>
        {% endfor %}
        </table>
{% endblock %}
