{% extends "fichas/base.html" %}

{% block content %}
<div class="cover" align="center">
<div class="cover-title">Delma</div>
<div class="cover-description">Aplicación para gestión de fichas de pacientes.</div>
<a class="btn-outline cover-btn" href="{% url 'fichas:search' %}">Buscar fichas</a>
<a class="btn-outline cover-btn" href="{% url 'account_login' %}">Administrar</a>
<br>
<span class="text-small">Para comenzar pulse en cualquiera de las opciones</span>
</div>
<div class="gh-btns" align="center">
<h4>¿Quieres ayudar?</h4>
<p>Puedes ayudar con el desarrollo de la aplicación enviando bugs y pull request</p>
<!-- Place this tag where you want the button to render. -->
<a aria-label="Star reciproco/delma on GitHub" data-count-aria-label="# stargazers on GitHub" data-count-api="/repos/reciproco/delma#stargazers_count" data-count-href="/reciproco/delma/stargazers" href="https://github.com/reciproco/delma" class="github-button">Star</a>
<!-- Place this tag where you want the button to render. -->
<a aria-label="Fork reciproco/delma on GitHub" data-count-aria-label="# forks on GitHub" data-count-api="/repos/reciproco/delma#forks_count" data-count-href="/reciproco/delma/network" href="https://github.com/reciproco/delma/fork" class="github-button">Fork</a>
</div>
{% endblock %}
