{% extends "fichas/base.html" %}

{% block breadcrumbs %}
    <div class="breadcrumbs">
    <a href="{% url 'index' %}">Inicio</a> &rsaquo; <a href="{% url 'fichas:search' %}">Buscar</a>
    </div>
{% endblock %}
{% block content %}
<div id="main-content">

  <form id="searchform" action="{% url 'fichas:ficha-list' %}" method="get" accept-charset="utf-8">
        <input class="form-input" id="searchbox" name="nombre" type="text" placeholder="Busqueda de pacientes">
        <input class="form-input" type="submit" value="Buscar">
  </form>
</div>

{% endblock %}
