{% extends "fichas/base.html" %}

{% block breadcrumbs %}
    <div class="breadcrumbs">
    <a href="{% url 'index' %}">Inicio</a> &rsaquo; <a href="{% url 'fichas:search' %}">Buscar</a>
    </div>
{% endblock %}
{% block content %}

<p>Busqueda de pacientes:</p>    
<form id="searchform" action="{% url 'fichas:ficha-list' %}" method="get" accept-charset="utf-8">
      <button type="submit">
        <i></i>
      </button>
      <input id="searchbox" name="nombre" type="text" placeholder="Search">
    </form>
</body>
</html>

{% endblock %}
