{% extends "fichas/base.html" %}
{% load seguridad_extras %}

{% block content %}
<div id="main-content">
  {% if form.errors %}
  <div class="alert alert-error">Usuario o contraseña incorrectos. Inténtelo de nuevo</div>
  {% endif %}

  {% if next %}
      {% if user.is_authenticated %}
      <p class=" alert alert-error">Your account doesn't have access to this page. To proceed,
      please login with an account that has access.</p>
      {% else %}
      <p class="alert alert-error">Please login to see this page.</p>
      {% endif %}
  {% endif %}

  <form method="post" action="{% url 'seguridad:login' %}">
  {% csrf_token %}
  <table>
  <tr>
      <td><h5>{{ form.username.label_tag }}</h5></td>
      <td>{{ form.username|addcss:'form-input' }}</td>
  </tr>
  <tr>
      <td>{{ form.password.label_tag }}</td>
      <td>{{ form.password|addcss:'form-input' }}</td>
  </tr>
  </table>

  <input class="form-input" type="submit" value="Entrar" />
  <input type="hidden" name="next" value="{{ next }}" />
  </form>
</div>

{% endblock %}
